:root {
  --pri: #F0E3CA;
  --sec: #1B1A17;
  --tri1: #ffb803;
  --tri2: linear-gradient(135deg, #ce5d0d, #bd7f14, #c18c05);
  --tri3: #f3987fd8;
  --tri4: #34332e;
  --green: rgb(0, 149, 67);
  --blue: rgba(0, 70, 128, 0.978);
  --navbarc: linear-gradient(135deg, #d53d0b, #bd7f14, #c10505f3);
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(./fonts/Aeonik-Light.ttf);
}

@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./fonts/Aeonik-Regular.ttf);
}

@font-face {
  font-family: thin;
  src: url(./fonts/Aeonik-Thin.ttf);
}

@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(./fonts/Aeonik-Bold.ttf);
}

@font-face {
  font-family: AirItalic;
  src: url(./fonts/Aeonik-AirItalic.ttf);
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pri);
  
}

html,
body {
  height: 100%;
  width: 100%;
}
body{
  background-color: var(--sec);
}

body::-webkit-scrollbar {
  display: none;
}

#main {
  min-height: 100vh;
  width: 100%;
  background-color: var(--sec);
}

h1 {
  font-family: aeonik;
  font-weight: 700;
  color: var(--pri);
}

h2 {
  font-family: thin;
  color: var(--pri);
}

nav {
  
  /* position: fixed; */
  /* z-index: 9999; */ 
  top: 0;
  width: 100%;
  height: 60px;
  padding: 30px 40px;
  margin-bottom:35px;
}

.nav-in{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--navbarc);
  padding: 20px 30px;
  border-radius: 10px;
  }

  .nav-in h2{
    font-weight: 700;
    font-size: 30px;
    
  }

  .theme{
  /* position: absolute;
  bottom: 5%;
  left: 2%; */
  background-color: var(--pri);
  padding: 10px 10px;
  border-radius: 10px;
  transition: all ease 0.2s;
}


.theme h4{
  color: var(--sec);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  pointer-events: none;
}

.theme i{
  color: var(--sec);
  margin: 3px;
}

.theme:active{
  scale: 0.96;
}

section.allElems {
  height: 100%;
  width: 100%;
  padding: 40px;
  overflow: auto;
  position: relative;
}

section.allElems::-webkit-scrollbar {
  display: none;
}

.allElems header{
  height: 320px;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1720883069602-5ca76410f4c6?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  /* background-position: center; */
  margin-bottom: 28px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

header .header1 h1{
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top:-18px;
}

header .header1 h2{
  font-size: 45px;
  font-weight: 500;
}

header .header1 h4{
  font-size: 55px;
  font-weight: 200;
  opacity: 0.86;
}

header .header2 h2{
  font-size: 61px;
  font-family: aeonik;
  font-weight: 700;
  /* padding: 5px 0px; */
  opacity: 0.9;
}

header .header2 h4{
  padding-bottom: 3px;
  font-size: 30px;
  font-weight: 500;
  opacity: 0.9;
}

header .header2 h3{
  font-size: 22px;
  font-family: thin;
  padding: 3px 0px;
  font-weight: 500;
  opacity: 0.8;
}

.allElems .allFeatures{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 40px;
}

.elem {
  background-color: var(--tri1);
  /* padding: 30px 40px; */
  height: 320px;
  width: 255px;
  font-size: 22px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.6s;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.elem h2 {
  position: absolute;
  bottom: 4%;
  right: 5%;
  font-weight: 350;
  font-size: 28px;
}

.elem:active {
  scale: 0.97;
}

.fullElem {
  background-color: var(--sec);
  padding: 40px;
  display: none;
  position: fixed;   /* instead of absolute */
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  overflow-y: auto;
}

.back {
  position: absolute;
  right: 5%;
  background-color: red;
  padding: 8px 10px;
  border-radius: 10px;
  padding-bottom: 9px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.back:active {
  scale: 0.97;
}

.todo-list-fullpage h1 {
  font-size: 60px;
}

.todo-list-fullpage .todo-container {
  height: 80%;
  width: 100%;
  margin-top: 40Px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask {
  width: 33%;
  background: var(--tri2);
  height: 100%;
  border-radius: 20px;
}

.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  background: var(--tri2);
  height: 100%;
  border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.todo-container .addTask form #task-input {
  padding: 10px 18px;
  width: 100%;
  font-size: 25px;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-weight: 500;
}

.todo-container .addTask form textarea {
  padding: 10px 18px;
  width: 100%;
  font-size: 20px;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-weight: 500;
}

.todo-container .addTask form button {
  padding: 10px 18px;
  width: 100%;
  font-size: 20px;
  background-color: var(--tri1);
  border-radius: 5px;
  font-weight: 500;
  border: none;
  outline: none;
  margin-bottom: 20px;
  outline: 0.5px solid rgba(161, 98, 11, 0.637);
}


.todo-container .addTask form button:active {
  scale: 0.96;
  transition: all ease 0.3s;
}


.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  background: var(--tri2);
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}

.task-title {
  cursor: pointer;
}

.task-details {
  color: #444;
  font-size: 14px;
  margin-top: 5px;
}


.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--pri);
  padding: 20px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: transform 0.4s ease, opacity 0.4s ease, filter 0.4s ease;
}

.task.slide-out {
  /* transform: translateX(120%); */
  opacity: 0;
  filter: blur(4px);
}

.task h5 {
  color: var(--sec);
  font-size: 25px;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.task h5 span {
  background-color: red;
  color: var(--pri);
  padding: 4px 6px;
  font-size: 9px;
  border-radius: 50px;
  position: relative;
  top: -8px;
}

.task h5 span.true {
  opacity: 1;

}

.task h5 span.false {
  opacity: 0;
}

.task button {
  padding: 15px 23px;
  color: var(--pri);
  background-color: green;
  font-size: 12.5px;
  border-radius: 7px;
  border: none;
  font-weight: 550;
  cursor: pointer;
}

.mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 10px;
  margin-bottom: 20px;
  width: 100%;
  gap: 20px;

}

.mark-imp input {
  scale: 1.6;
}

.mark-imp label {
  font-size: 20px;
}

.daily-planner-fullpage h2 {
  font-size: 60px;
}

.daily-planner-fullpage .day-planner {
  background: var(--tri2);
  height: 85%;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 37px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
  border: 0.5px solid #e39f20;
}

.daily-planner-fullpage .day-planner::-webkit-scrollbar {
  display: none;
}


.daily-planner-fullpage .day-planner-time {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 49%;
  margin-bottom: 12px;
}


.day-planner .day-planner-time p {
  position: absolute;
  top: 12%;
  left: 2%;
  font-size: 15px;
  color: var(--tri3);
}

.day-planner .day-planner-time input {
  padding: 20px 44px;
  width: 100%;
  background-color: var(--sec);
  border-radius: 5px;
  border: none;
  font-size: 26px;
  padding-top: 28px;
  outline: none;
}

.day-planner .day-planner-time input::placeholder {
  opacity: 0.7;
}

.day-planner .day-planner-time input::-webkit-input-placeholder {
  opacity: 0.7;
}

.day-planner .day-planner-time input:-ms-input-placeholder {
  opacity: 0.7;
}


.motivational-fullpage {
  /* display: block; */
  position: relative;
}

.motivation-fullPage-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.motivational-fullpage .motivation-container {
  height: 470px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 75%;
  background: var(--tri2);
  border-radius: 50px;
  border: 0.5px inset var(--tri3);
}

.motivational-fullpage .motivation-container::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background: var(--tri2);
  border-radius: 50px;
  scale: 1.15;
  filter: blur(125px);
  z-index: 8;
}

.motivational-fullpage .motivation-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--tri3);
  border-radius: 40px;
  padding: 17px;
}

.motivation-1 {
  /* height: 60px; */
  background: var(--tri2);
  padding: 30px;
  border-radius: 30px;
}

.motivation-1 h2 {
  font-size: 40px;
  font-weight: 500;
}

.motivation-2 {
  padding: 10px;
  /* padding: 10px 20px; */
  margin-top: 20px;
}

.motivation-2 h1 {
  font-size: 34px;
  font-weight: 500;
  color: var(--tri4);
}

.motivation-3 {
  /* height: 60px; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.motivation-3 h1 {
  background: var(--tri2);
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: 900;
  text-align: right;
  font-family: AirItalic;
}

.motivation-wrapper img {
  height: 60px;
  opacity: 0.5;
}

.motivation-wrapper .im {
  position: absolute;
  align-items: center;
  right: 2%;
}

.pomodoro-fullpage {
  position: relative;
}

.pomodoro-fullpage h2 {
  font-size: 70px;
}

.pomodoro-fullpage .pomo-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pomo-timer h1 {
  font-size: 120px;

}

.pomo-timer button {
  background: var(--tri2);
  padding: 15px 30px;
  font-size: 30px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 0px black;
  transition: all ease 0.2s;
  font-weight: 700;
  cursor: pointer;
}

.pomo-timer button:active {
  box-shadow: 0px 0px 0px black;

}

.pomodoro-fullpage .session {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--green);
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 5px;
}

.daily-goals-fullpage{
  font-size: 30px;
  font-weight: 700;
}

.daily-goals-fullpage .dailyGoals-container{
  height: 80%;
  width: 100%;
  margin-top: 40Px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.daily-goals-fullpage .dailyGoals-container .addTask {
  width: 33%;
  background: var(--tri2);
  height: 100%;
  border-radius: 20px;
}

.daily-goals-fullpage .dailyGoals-container .allTask {
  width: 65%;
  background: var(--tri2);
  height: 100%;
  border-radius: 20px;
}

.daily-goals-fullpage .dailyGoals-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.dailyGoals-container .addTask form #task-input {
  padding: 10px 18px;
  width: 100%;
  font-size: 25px;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-weight: 500;
}

.dailyGoals-container .addTask form textarea {
  padding: 10px 18px;
  width: 100%;
  font-size: 20px;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-weight: 500;
}

.dailyGoals-container .addTask form button {
  padding: 10px 18px;
  width: 100%;
  font-size: 20px;
  background-color: var(--tri1);
  border-radius: 5px;
  font-weight: 500;
  border: none;
  outline: none;
  margin-bottom: 20px;
  outline: 0.5px solid rgba(161, 98, 11, 0.637);
}

.dailyGoals-container .addTask form button:active {
  scale: 0.96;
  transition: all ease 0.3s;
}


.daily-goals-fullpage .dailyGoals-container .allTask {
  width: 65%;
  background: var(--tri2);
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}

.goal {
  width: 100%;
  background: linear-gradient(135deg, #f0e3ca, #f7d48b);
  color: #1b1a17;
  padding: 22px 26px;
  border-radius: 16px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  /* transition: all 0.3s ease; */
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.goal:hover {
  transform: translateY(-3px);
}

.goal.pinned {
  border-left: 8px solid #ffb803;
  background: linear-gradient(135deg, #ffe08a, #ffb803);
  background: cover;
}

.goal-left h4 {
  font-size: 26px;
  font-weight: 700;
  color: var(--tri4);
  
}

.goal-left p {
  font-size: 16px;
  margin-top: 6px;
  color: var(--sec);
  opacity: 0.7;
}

.goal-actions {
  display: flex;
  gap: 10px;
}

.goal-actions button {
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.goal-actions .pin {
  background-color: #34332e;
  color: #fff;
}

.goal-actions .delete {
  background-color: crimson;
  color: #fff;
}

.goal-actions button:active {
  scale: 0.95;
}

.goal.slide-out {
  transform: translateX(120%);
  opacity: 0;
}


